<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">    
        <div id="loginbox" style="margin-top:80px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-default " >
                <div class="panel-heading">
                    <div class="panel-title"><b>LOGIN</b></div>
                        <!-- <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div> -->
                </div>    
                <p id="alert"></p> 
                <div style="padding-top:30px" class="panel-body" >                    
                    <form id="loginform" class="form-horizontal" role="form">                                  
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" id="username"  placeholder="username" onkeypress="myFunction(event)">                                        
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" id="password" placeholder="password" onkeypress="myFunction(event)">
                        </div>  
                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                     Don't have an account! 
                                    <a href="/registers" onClick="$('#loginbox').hide(); $('#signupbox').show()">Register Here</a>
                                </div>
                            </div>
                        </div>    
                    </form> 
                        <button id="login"class="btn btn-success" onkeypress="myFunction(event)"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login</button>  
                </div>                     
            </div>  
        </div>
    </div> 
<script type="text/javascript">
	$(document).ready(function() {
        if(localStorage.getItem("token") !== null){
            $.ajax({
                    type: "get",
                    url: "/accessToken/find?tokenData="+localStorage.getItem("token"),
                    statusCode: {
                        200: function(res) {
                            window.location.replace("member");
                        },
                        400: function(res) {
                         localStorage.removeItem("token");
                            //window.location.replace("/");
                        }
                   }
            });
        }
     
    $("#login").click(function(){
        submitLoginFrom();
    });
});
function myFunction(event) {
    if (event.keyCode == 13) {
       submitLoginFrom();
    }
}
function submitLoginFrom() {
 if($("#username").val() === "" && $("#password").val() === ""){
            document.getElementById("alert").innerHTML = "<div class=\"alert alert-danger\" id=\"alert\">Please your check password and username</div>";
            } else {
                var data = {
                    "username": $("#username").val(),
                    "password": $("#password").val()
                }
                $.ajax({
                    type: "post",
                    url: "/login",
                    async:false,
                    data: data,
                    statusCode:{
                        200: function(msg){
                        localStorage.setItem("token", msg);
                        window.location.replace("member");
                        },
                        400: function(res) {
                            document.getElementById("alert").innerHTML = "<div class=\"alert alert-danger\" id=\"alert\">please your check password and username.</div>";
                        }
                    }
                        
                });
    }
}
</script>
</body>
</html>